body{
	padding:0;
	margin:0;
}

.panel-body {
    padding: 0px;
}

.form-group {
	padding: 0px;
}

.form-inline {
	padding: 0px;
}

.table-body {
    padding: 0px;
}

.list-group {
    margin-bottom: 0px;
    color: #C0C0C0;
}

.edit-form {
	padding: 0px;
}

.active {
    color: #C0C0C0;
}

.rowBox draggable {
    color: #C0C0C0;
}

#leftPane{
	height:100%;
	width:200px;
	background:#333;
	border-right:1px solid #ccc;
}

#canvas{
	position:absolute;
	left:200px;
	right:0;
	top:0;
	bottom:0;
	background-image: url("back.gif");
}

#dbTitleEdit{
	color: #000000;
}

.tableIcon{
	z-index:100;
	position:absolute;
	top:0;
	left:0;
	height:100px;
	width:100px;
}

.rowIcon{
	z-index:100;
	position:absolute;
	top:90px;
	left:0;
	height:100px;
	width:100px;
}

.rowBox{
	z-index:100;
	position:relative;
	right:0;
	left:0;
	top:0;
	bottom:0;
    color: #C0C0C0;
    max-width:205px;

}

#rowInput{
	z-index:100;
	position:relative;
	width: 100%;
    color: #C0C0C0;

}

.tableBox{
	/*z-index:100;*/
	position:absolute;
	top:0;
	left:0;
	height:230px;
	width:235px;
	height: 100%;
}


.panel-title {
	width: 305px;
}

.panel panel-primary{
	width: 250px;
}

.bound{
	z-index:100;
	position: absolute;
	left:200px;
	right:0;
	top:0;
	bottom:0;
}

.draggable {
	z-index: 999;
}
